
body {
  font-family: sans-serif;
  text-align: center;
  padding: 40px;
  background: #111;
  color: white;
}

#image-container img {
  width: 100%;
  max-width: 900px;
  height: auto;
  display: block;
  margin: 0 auto;
/*  filter: brightness(0) invert(1); /* making the image a silhouette */ 
  background-size: 200%;
}

input, button {
  padding: 10px;
  font-size: 16px;
  margin-top: 20px;
}
