
body {
  font-family: 'Roboto', 'Helvetica Neue', sans-serif;
  text-align: center;
  padding: 40px;
  background: white;
  color: blue;
}

#image-container img {
  border: 3px solid #000;
  border-radius: 10px;
  padding: 5px
  width: fit-content;
  max-width: 900px;
  height: auto;
  display: block;
  margin: 0 auto;
/*  filter: brightness(0) invert(1); /* making the image a silhouette */ 
  background-size: 200%;
}

input, button {
  padding: 10px;
  font-size: 16px;
  margin-top: 20px;
}
